body {
    font: 24px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

div {
    height: 100px;
    width: 100px;
    position: relative;
    font-size: 40px;
    color: black;
    text-align: center;
    margin: auto;
}

.new {
    opacity: 0;
    margin: auto auto;
    text-align: center;
    position: absolute;
}

.old {
    margin: auto auto;
    text-align: center;
}

.old, .new {
    transition: opacity 0.5s linear;
}

.wrap:hover .old {
    opacity: 0;
}
.wrap:hover .new {
    opacity: 1;
}
